tiktoken
networkx
pandas
sqlalchemy
gymnasium
numpy
rich
gymnasium
autogen[openai]==0.14.1
docker<8,>=6.0.0
azure-identity
azure-monitor-query
mysql-connector-python
python-Levenshtein
matplotlib
azure-ai-ml
azure-ai-inference
bs4
datasets
langchain-huggingface
sentence-transformers
langchain-openai
anthropic<1,>=0.79.0